<!DOCTYPE html>
<html lang="en" ng-app="BummTschak">
<head>
    <meta charset="UTF-8">
    <title>bumm-tschak</title>
    <link href="css/style.css" type="text/css" rel="stylesheet">
</head>
<body ng-controller="AppController">


<div class="control">
    <label>
        <input type="number" min="60" max="330" ng-model="bpm">
    </label>
    <button type="button" ng-click="play()">Play</button>
    <button type="button" ng-click="stop()">Stop</button>
</div>

<line sound-url="sounds/bd/1.wav" metronome="metronome"></line>
<line sound-url="sounds/sd/1.wav" metronome="metronome"></line>
<line sound-url="sounds/ch/1.wav" metronome="metronome"></line>
<line sound-url="sounds/oh/1.wav" metronome="metronome"></line>

<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/howler/howler.min.js"></script>
<!--suppress HtmlUnknownTarget -->
<script src="bundle.js"></script>
</body>
</html>