<!DOCTYPE html>
<html lang="en" ng-app="BummTschak">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="style.css" type="text/css" rel="stylesheet">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/howler/howler.min.js"></script>
    <script src="src/app.js"></script>
</head>
<body ng-controller="AppController">


<div class="control">
    <input type="number" ng-model="bpm">
    <button type="button" ng-click="play()">Play</button>
    <button type="button" ng-click="stop()">Stop</button>
</div>

<line sound-url="sounds/bd/1.wav" metronome="metronome"></line>
<line sound-url="sounds/sd/1.wav" metronome="metronome"></line>
<line sound-url="sounds/ch/1.wav" metronome="metronome"></line>
<line sound-url="sounds/oh/1.wav" metronome="metronome"></line>


</body>
</html>