.line {
    height: 40px;
    width: 640px;
    display: flex;
}

.line .step {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.line .step .button {
    flex: 9;
    height: 90%;
    background-color: #00feff;
}

.line .step:nth-child(odd) .button {
    background-color: #0dbdff;
}

/* SELECTED STEP */

.line .step.selected .button {
    background-color: #fffe00;
}

.line .step:nth-child(odd).selected .button {
    background-color: #ffee11;
}

/* ACTIVE STEP */

.line .step .light {
    flex: 1;
    background-color: #444444;
}

.line .step.active .light {
    flex: 1;
    background-color: red;
}